/* News Page styles */
.newsPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.newsContent {
    display: flex;
    flex: 1;
}

.newsList {
    flex: 1;
    padding: 16px;
}

.newsPagination {
    padding: 16px;
    display: flex;
    justify-content: center;
}